.upContainer {
    width: 100%;
    margin: 80px auto 0;
}

.upContainer h1,
.upContainer h2 {
    font-family: var(--font-titles);
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 5%;
}

.upContainer h3 {
    margin: 0.5rem 0;
}

.upContainer h1 {
    background-color: var(--primary-color-100);
}

.upContainer .infoContainer {
    width: 90%;
    margin: auto;
    background-color: var(--neutral-color-100);
    padding: 3%;
}

.upContainer p {
    font-size: xx-small;
    padding-top: 5px;
}

.upContainer input,
.upContainer .textArea {
    width: 100%;
}

.upContainer img {
    width: 100%;
    height: auto;
}

.upContainer button {
    padding: 4px 8px;
    background-color: var(--primary-color-300);
    border-radius: 5px;
}

.savedThings {
    width: 90%;
    margin: auto;
    background-color: var(--neutral-color-200);
    padding: 3%;
}

.savedNames {
    text-align: center;
    text-transform: uppercase;
    background-color: var(--primary-color-100);
    padding: 1.5%;
}

.savedThings .btnBackground {
    display: flex;
    padding: 0.5%;
    background-color: var(--neutral-color-100);
    justify-content: center;
}

@media screen and (min-width: 720px) {
    .upContainer h1 {
        font-size: 32px;
    }
    .upContainer h2 {
        font-size: 24px;
    }
    .upContainer h3 {
        font-size: 16px;
    }
    .upContainer p {
        font-size: 10px;
    }
    .upContainer .savedThings {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .upContainer img {
        width: 360px;
        height: 200px;
        object-fit: cover;
    }
    .upContainer li {
        max-width: 360px;
        max-height: 320px;
        margin: auto;
        column-gap: 2%;
    }
}
