.Container{
    margin-left: 20rem;
    margin-top: 5rem;
    position: absolute;
    
}

.h1{
    color: black;
    background-color: rgb(196, 221, 255);
}

.h9{
    font-size: x-small;
}

.Formulario{
    
    background-color: rgb(235, 244, 255);
}

.h3{
    font-size: 0.7rem;
}

.enviar{
    color: black;
    margin: 1rem 10rem;
}

.subtitulo{
    font-size: 1rem;
}


.textarea{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid rgb(227, 243, 255);
    border-radius: 4px;
    font-size: 12px;
    columns: 5px;
}