.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 70%;
    /* background-color: red; */
    height: auto;
    margin: 2rem auto;
}

.list .elements {
    margin: auto;
    list-style: none;
}

.elements {
    border: 2px solid black;
    /* background-color: aqua; */
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImgContainer img {

    width: 15rem;
    height: 11rem;
    object-fit: cover;
}

.ImgContainer {
    position: relative;
}

.OverImg {
    display: flex;
    width: 100%;    
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.CardContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    align-items: center;
}

.FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.CardContainer h2 {
    font-size: 2rem;
}

.FilterButton {
    color: black;
    font-size: 1rem;
    width: auto;
    padding: 0.2rem;
}

.RadioContainer {
    /* margin: 1.5rem 0; */
    list-style: none;
    display: flex;
    gap: 10%;
    text-align: left;
}

.Rating {
    width: 100%;
    display:flex;
    justify-content:center;
    background-color: gold;
    color: #996515;
}

.CitySpecs {
    /* background-color: red; */
    text-align: center;
}

@media (max-width: 550px) {
    .RadioContainer {
        flex-direction: column;
        gap: 0.5rem;
    }
}
