.feedback {
    background-color: var(--primary-color-400);
    margin-top: 1rem;
    color: var(--text-light);
}

.feedback h3 {
    font-weight: lighter;
}

.feedback .btn {
    background-color: var(--primary-color-100);
    border: 0;
    color: var(--text-dark);
    font-weight: bold;
}

.feedback .btn:hover {
    background-color: var(--primary-color-200);
}
.feedback .btn:active {
    background-color: var(--primary-color-300);
}

@media screen and (min-width: 721px) {
    .feedback {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-bottom: 1rem;
    }
    .feedback h3 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 3rem 1rem;
        text-align: right;
        font-size: 3vw;
    }
    .feedback .btn {
        align-items: initial;
        margin: 3rem 1rem;
        max-width: max-content;
        font-size: 2vw;
    }
}

@media screen and (max-width: 720px) {
    .feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .feedback h3 {
        padding: 2rem 0 1rem;
        font-size: 4vw;
    }
    .feedback .btn {
        margin-bottom: 2rem;
        font-size: 3vw;
    }
}
