.contenedor{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 8rem auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: var(--terciary-color-100);
}

.contenedor h3 {
    padding-top: 2rem;
    
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.contenedor p, .contenedor label {
    line-height: 3rem;
}

.DatePicker {
    /* background-color: red; */
    padding-left: 2rem;
}

.separador {
    width: 50%;
    height: 1px;
    border: 1px solid black;
    display: flex;
    margin: auto;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

.datum {
    background-color: orange;
    text-align: center;
}

.boton {
    margin: 2rem 0 2rem 0;
}

@media (max-width: 700px) {
    .contenedor {
        width: 80%;
    }
}