.commentDiv {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 1rem;
    padding-right: 2rem;
    height: 7rem;
    background-color: var(--primary-color-100);
}

.commentDiv div:first-child {
    justify-self: right;
    margin: auto 0;
}

.commentDiv img {
    width: auto;
    height: 6rem;
}
.commentDiv form {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
    padding-right: 1rem;
}

.commentDiv input {
    margin: auto;
    height: 2rem;
    width: 100%;
}

.commentDiv .btnContainer {
    display: inline-flex;
    justify-content: left;
}

.commentDiv button {
    height: 2rem;
    width: 15%;
    display: inline-flex;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-300);
    border: none;
}

.commentDiv button:hover {
    background-color: var(--primary-color-400);
}

.commentDiv button:active {
    background-color: var(--primary-color-400);
}

@media screen and (max-width: 480px) {
    .commentDiv {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        padding: 0.5rem 1rem 1rem 0.5rem;
        height: auto;
    }
    .commentDiv button {
        margin: 0 auto;
    }
}
