.Container {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.CommentSection {
    height: 4rem;
    width: 100%;
    background-color: red;
}

.CommentButton {
    height: auto;
    padding: auto;
    margin: auto;
}