.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    margin-bottom: 1rem;
}

.header img {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .transparent {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    background-color: rgba(35, 57, 91, 0.6);
    order: 1;
}

.header h1 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    font-family: var(--font-titles);
    font-size: 12vw;
    color: var(--text-light);
    text-transform: uppercase;
    margin: auto;
    order: 2;
}

.header div:last-child {
    grid-column: 1 / 4;
    grid-row: 5;
    background-color: var(--primary-color-100);
    display: inline-grid;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    padding: 1rem 1rem;
    height: fit-content;
}

.header div:last-child img {
    width: 15vw;
    max-width: 125px;
    height: auto;
    padding-left: 1px;
}

@media screen and (min-width: 721px) {
    .header {
        grid-template-rows: repeat(4, 130px) fit-content(85px);
    }
    .header h1 {
        font-size: 80px;
    }
    .header div:last-child {
        font-size: 20px;
    }
}

@media screen and (max-width: 720px) {
    .header {
        grid-template-rows: repeat(4, 115px) fit-content(75px);
    }
}

@media screen and (max-width: 480px) {
    .header {
        grid-template-rows: repeat(4, 100px) fit-content(65px);
    }
    .header div:last-child {
        font-size: 4vw;
    }
    .header div:last-child img {
        width: 18vw;
    }
}
