.BurgerMenu {
    width: 5em;
    height: 80px;
}

.BurgerIcon {
    position: absolute;
    right: 5%;
    /* top: 30% */
    
}

.Menu {
    width: 10em;
    height: 100%;
    position: fixed;
    padding-top: 100px;
    background-color: var(--neutral-color-300);
}

.MenuList {
    list-style: none;
}

.MenuElement {
    font-size: 1.5rem;
}
