.login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
  }

  .login2 {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 0.001rem 2rem 0.5rem 2rem;
    background-color: rgb(168, 207, 252);
  }
  
.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control1 {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #000000;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #765898;
  background: #d2abff;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}

.buttons {
  padding-top: 2em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.RegisterRedirectContainer {
  margin-top: 2em;
  padding-left: 2em;
}

.RegisterRedirectContainer .RegisterRedirect {
  color: var(--primary-color-500);
  /* background-color: red; */
  display: inline;
  /* justify-content: center; */
}

.LoginHeader {
  margin-top: 5rem;
  height: 10rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginHeader h1 {
  padding-top: 30px;
  font-size: 3em;
  font-weight: 800;
}

.radioContainer{
  display: inline-flex;
  
}

.radio{
  padding-right: 1rem;
  text-align: text-top;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}


