@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;600&family=Open+Sans:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    /* PALETA DE COLORES */
    --primary-color-100: #a7bddf;
    --primary-color-200: #657b9d;
    --primary-color-300: #23395b;
    --primary-color-400: rgb(2, 24, 58);
    --primary-color-500: rgb(0, 0, 25);
    

    --secondary-color-100: #5eccde;
    --secondary-color-200: #2dbdd4;
    --secondary-color-300: #2292a4;
    --secondary-color-400: #186773;
    --secondary-color-500: #0e3b43;

    --terciary-color-100: #f3ccc2;
    --terciary-color-200: #eaa390;
    --terciary-color-300: #e07a5f;
    --terciary-color-400: #d6512e;
    --terciary-color-500: #a93d21;

    --neutral-color-100: #f6f6f6;
    --neutral-color-200: #d9d9d9;
    --neutral-color-300: #bcbcbc;

    /* TEXTO */
    --text-light: #fff;
    --text-dark: #000;
    --font-titles: "League Spartan", sans-serif;
    /* font para el body ya está como predeterminado en *{} */
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    font-size: calc(10px + 2vmin);
}
